@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #fafafa; */
    background-color: #f2f2f2;
}

aside, main, nav {
    padding: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Comfortaa', cursive;
}
a, a:visited, a:hover, a:link {
    /* font-weight: 600; */
    /* text-decoration: none; */
    color: rgb(44, 105, 155);
}
a:hover {
    color: #777;
}
button.link {
    color: rgb(44, 105, 155);
    background-color: transparent;
    border-width: 0px;
}
button.link:hover {
    color: #777;
}

button.link.following {
    padding: 5px 10px !important;
}
button.link.unfollow {
    background-color: white;
    padding: 5px 10px !important;
    border: solid 1px #CCC;
    border-radius: 4px;
}

far fa-heart.unlike{
    color: red;
}

header {
    margin-top: 20px;
}

nav {
    position: sticky;
    height: 70px;
    width: 100vw;
    background-color: white;
    border-bottom: solid #dbdbdb 1px;
    left: 0px;
    top: 0px;
    padding: 0px 3vw;
}

nav, nav ul, .card .header, .card .buttons, .card .add-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
}
li {
    margin-left: 30px;
}

aside {
    position: fixed;
    right: 0px;
    top: 70px;
    width: calc(40vw - 6px);
    /* background-color: #fafafa; */
    background-color: #f2f2f2;
    height: calc(100vh - 100px);
    padding-left: 30px;
}
main {
    /* margin-top: 70px; */
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#posts {
    width: 50vw;
}

.stories {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 50vw;
    min-width: 540px;
    border: solid 1px #dbdbdb;
    margin-bottom: 30px;
    background-color: #fff;
    overflow: hidden;
}
.stories > div {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories > div .pic {
    min-width: 50px;
    min-height: 50px;
    border: solid 3px #dbdbdb;
    border-radius: 27px;
}
.stories p {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 0.80em;
    color: #999;
    width: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.card {
    border: solid 1px #dbdbdb;
    margin-bottom: 30px;
    background-color: #fff;
    width: 50vw;
    min-width: 540px;
}

.card img {
    width: 100%;
    height: auto;
}
.card .header, .card .info {
    padding: 10px;
    color: #444;
}

.card .buttons {
    font-size: 1.3em;
    padding: 5px;
}
.card .buttons i {
    margin-right: 4px;
}

.heart button{
    background-color: transparent;
    border: none;
}

.fas.fa-heart{
    color:red;
}

.save button{
    background-color: transparent;
    border: none;
}

.viewbutton{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.viewbutton button:hover {
    color: #777;
}

.viewbutton button{
    background-color: transparent;
    border: none;
    color: #2c699b;
    
}

/* .viewbutton text{
    color: #2c699b;
} */

.post button{
    background-color: transparent;
    border: none;
}

.post a:hover {
    color: #777;
}

/* .card  button.link {
    font-size: 1em;
}

.card .caption, .card .comments, .likes {
    padding: 0px 5px;
}
.card .caption p, .card .comments p {
    margin: 8px 0px 3px 0px;
    font-size: 0.9em;
}
.card .timestamp {
    color: #999;
    text-transform: uppercase;
    font-size: 0.70em !important;
    margin-bottom: 5px;
}
.card .add-comment {
    border-top: solid 1px #dbdbdb;
    padding: 10px 15px;
}

.card .add-comment .input-holder {
    width: 90%;
}

.card .add-comment input, .card .add-comment input:focus, .card .add-comment input:focus-visible {
    border-width: 0px;
    outline: none;
    font-size: 0.95em;
    width: 85%;
    padding: 10px 0px;
}
.card .add-comment i {
    font-size: 1.3em;
    margin-right: 10px;
} */

.suggestion-text {
    color: #666;
    font-weight: 600;
    letter-spacing: 0px;
}

.suggestions section {
    display: grid;
    grid-template-columns: 35px 2fr 1fr;
    align-items: center;
    width: 25vw;
}
.suggestions section > div {
    padding: 8px;
    width: 200px;
}
.suggestions section p, .suggestions section a {
    margin: 0px;
}
.suggestions section p {
    color: #333;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}
.suggestions section a {
    font-size: 0.8em;
}
.suggestions section p:nth-child(2) {
    color: #666;
    font-size: 0.8em;
    font-weight: 400;
}
.suggestions section .pic {
    min-width: 30px;
    min-height: 30px;
    border: solid 1px #dbdbdb;
    border-radius: 15px;
}
aside header {
    display: flex;
    align-items: center;
    width: 25vw;
}

aside header .pic {
    min-width: 60px;
    min-height: 60px;
    border-radius: 33px;
    border-width: 0px;
    margin-right: 20px;
}
.visuallyhidden {
    display: none;
}

div.card{
    position:relative; 
    width: 100%;
    height: 100%;
    background-color: white;
    margin-bottom: 3rem;
}

div.cardsection{
    display: flex;
    flex-direction: column;
    width: 53vw;
    height: 100%;
    position: relative;
    top: 100px; 
    left: 70px;
    
}
 
.card img{
    width: 100%;
    height: 100%;
}

.carduserbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:1%;
    padding: 1%
}

.carduserbox p{
    font-weight: bold;
}

.iconsandmessages{
    margin: 1rem;
    padding: 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.iconsandmessages p{
    margin-left: 0.5rem;
    font-family: "Arial", sans-serif;
}

.iconsandmessages span{
    font-family: "Arial", sans-serif;
}

.iconsleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:15%;
    height: 10%;
    /* padding: 0.5rem; */
}

.iconsleft i{
    padding: 0.5em;
}

.iconsection {
    display: flex;
    justify-content: space-between;

}

.save{
    display: flex;
    justify-content: right;
    align-items: center;
    margin:1%;
    padding: 1%
}

.likesection p{
    margin-top: 0.5em;
    margin-bottom: 0;
}

.iconandcomment{
    display: flex;
    justify-content: left;
    align-items: center;
    margin:1%;
    padding: 1%;
    width:80%
}

.captionsection a{
    font-family: "Arial", sans-serif;
    color: #3871a7;
}

.captionsection p{
    margin-bottom: 0;
}


.more {
    margin-right: 0.5rem;
    text-decoration: none;
}

.blue{
    font-family: "Arial", sans-serif;
    color: #3871a7;
    text-decoration: none;
    margin-left: 0.9rem;
    font-size: 103%;
}

.commentsection {
    padding-top: 9px;
}

.commentsection p{
    margin-bottom: 0;
}

.daysago p{
    color:#706c6c;
    font-size: 0.7rem;
}

.makecommentsec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1.5px rgba(128, 128, 128, 0.118);
    width:100%;
    
}

.smileicon{
    padding: 1rem;
}

.addcomment{
    width:100%;
}

.addcomment input{
    border-width:0px;
    border:none;
    outline:none;
    width:100%;
}

.caption{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post a{
    display: flex;
    margin-right: 2rem; 
    justify-content:left;
    font-family: "Arial", sans-serif;
    color: #3871a7;
    
}

/****************************************/
/*Modal*/
.modal-bg {
    /* background: rgba(50, 50, 50, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; */
    background: rgba(40,40,40,.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .modal {
    width: 60vw;
    height: auto;
    max-height: 80vh;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
} */

.close {
    /* align-self: flex-end; */
    position: fixed;
    top: 10px;
    right: 10px;
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 2em;
}

.hidden {
    display: none !important;
}

/* .modal-body {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
} */

.modimage{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.container{
    height: 100%;
    overflow-y: auto;
    background: #fff;
    min-width: 300px;
}

.container h3{
    padding: 20px;
    border-bottom: 1px solid #f2f2f2;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
}

.container .pic{
    /* min-width: 30px;
    min-height: 30px;
    border-radius: 15px;
    border-width: 0;
    margin-right: 10px; */
    height: 50px;
    width: 50px;
    border: solid 1px #dbdbdb;
    border-width: 0;
    border-radius: 50%;
}

.modal-body{
    height: 80vh;
    width: 90vw;
    background: #eee;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow-y: hidden;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-content: flex-start;
    padding: 10px;
    align-items: center;
    border-bottom: solid 1px #CCC;
}



/* button.link unfollow{
    background: white;
} */

@media (max-width: 900px) {
    aside {
        display: none;
    }
    main {
        width: 100vw;
        padding: 0px;
        align-items: center;
    }
    .card, .stories {
        width: 75vw;
        min-width: auto;
    }
}

@media (max-width: 700px) {
    .card, .stories {
        width: 90vw;
    }
}
